In [ ]:
import pandas as pd
juegos = [nombre, fecha, precioOriginal,precioOferta,reviewUsuarios,plataforma1,plataforma2,plataforma3,etiqueta]
#se asignan los nombres de las columnas, 'Código' es la etiqueta, se coloca el nombre por conveniencia
headers = ["Nombre", "Fecha_Lanzamiento", "Precio_Original", "Precio_Oferta", "Review Usuarios", "Plataforma1","Plataforma2","Plataforma3","Código"] 
headers

['Nombre',
 'Fecha_Lanzamiento',
 'Precio_Original',
 'Precio_Oferta',
 'Review Usuarios',
 'Plataforma1',
 'Plataforma2',
 'Plataforma3',
 'Código']

In [ ]:
import requests 
import bs4     #import beautiful soup 

url = "https://store.steampowered.com/search/?specials=1"
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, 'lxml') #se formatea el texto para poder trabajarlo
#se declaran listas vacias que almacenaran la información.
nombre = []
isdolar = 1
fecha = []
precioOriginal = []
precioOferta = []
reviewUsuarios = []
#hay 3 plataformas posibles, por lo tanto se necesita una lista para cada plataforma
plataforma1 = []
plataforma2 = []
plataforma3 = []
etiqueta = []
for var in soup.find_all('a', attrs={'class': 'search_result_row ds_collapse_flag '}): #se recorren todos los resultados
  nombre.append(var.span.text)  #el nombre del juego se obtiene en el texto del primer span
  fecha.append(var.find('div', attrs={'class': 'search_released'}).text) #la fecha se obtiene del div que se encuentra rapidamente
  temp = var.find('div', attrs={'class': 'search_price'}).text
  if(temp.find('NT')>0):
    temp = temp.replace(" ","").replace(",",".").split("$")[1:3]
    isdolar = 0 
  else:
    temp= temp.replace(" ","").split("$")[1:3] #para los precios se encuentra su div, pero es necesario procesar la info
                                                                                              #para obtener ambos precios
  if len(temp)>0:
    if isdolar == 0:
      precioOriginal.append(round(float(temp[0]) * 27.11,2) ) #los valores se obtienen como str por lo que se transforman a float y redondean
      precioOferta.append(round(float(temp[1]) * 27.11,2) ) #como los valores se obtienen en dolares taiwaneses, se transforman a pesos
    else:
      precioOriginal.append(round(float(temp[0]) * 778,2) ) #los valores se obtienen como str por lo que se transforman a float y redondean
      precioOferta.append(round(float(temp[1]) * 778,2) ) #como los valores se obtienen en dolares, se transforman a pesos
  else: 
    precioOriginal.append(float("NAN"))   #de no indicar un precio no lo hará para ambos, y se asigna un valor nulo.
    precioOferta.append(float("NAN"))
  if var.find('span', attrs={'class': 'search_review_summary'}) is not None:  #es necesario verificar si tiene info de reviews 
    reviewUsuarios.append(var.find('span', attrs={'class': 'search_review_summary'})["data-tooltip-html"].split("<br>")[0]) #Es necesario buscar un valor dentro del span
  else:
    reviewUsuarios.append(float("NAN"))

#Se pueden tener 3 plataformas, por lo que es necesario ver para cuantas plataformas esta disponible
  if len(var.select('.platform_img') )>=1: #primero se ve si al menos se tiene 1 plataforma, de ser asi se agrega, sino se ponen todas en blanco.
    plataforma1.append(var.select('.platform_img')[0]["class"][1]) #plataforma 1
    if len(var.select('.platform_img') )>=2: #se checkea si es que se tienen 2 plataformas, de ser asi se agrega la segunda y lo mismo con la tercera.
      plataforma2.append(var.select('.platform_img')[1]["class"][1]) #plataforma 2
      if len(var.select('.platform_img') )>=3:
        plataforma3.append(var.select('.platform_img')[2]["class"][1]) #plataforma 3
      else:                                   #en caso que en alguno de estos casos no se cumpla la cantidad de plataformas que se está preguntado
        plataforma3.append(float("NAN"))      #se asignan en blanco la cantidad de variables que corresponda.
    else:
      plataforma2.append(float("NAN"))
      plataforma3.append(float("NAN"))  
  else:
    plataforma1.append(float("NAN"))
    plataforma2.append(float("NAN"))
    plataforma3.append(float("NAN"))
  etiqueta.append(int(var["data-ds-tagids"].replace("[","").replace("]","").split(",")[0])) #la etiqueta se obtiene de un valor dentro de la etiqueta <a>
                                                #se obtiene la primer etiqueta, procesando el texto

print(nombre)
print(fecha)
print(precioOriginal)
print(precioOferta)
print(reviewUsuarios)
print(plataforma1)
print(plataforma2)
print(plataforma3)
print(etiqueta)

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
['The Outer Worlds', 'Fallout 4: Game of the Year Edition', 'The Outer Worlds: Non-Mandatory Corporate-Sponsored Bundle', 'Far Cry® 5', 'Fallout 76', 'Fallout 4', 'Grand Theft Auto V', 'DayZ', 'Dragon Age™ Inquisition', 'GTFO', 'Arma 3', 'Ghostrunner', "Don't Starve Together", 'DayZ Livonia Edition', 'Fallout: New Vegas', 'American Truck Simulator', 'Warhammer: Vermintide 2', 'Destiny 2: Upgrade Edition', 'Monster Prom 2: Monster Camp', 'Inquisition - Andromeda Bundle', 'Madden NFL 21', 'Mass Effect™: Andromeda Deluxe Edition', 'OCTOPATH TRAVELER™', 'Hunt: Showdown', 'Kingdom Come: Deliverance', 'Solasta: Crown of the Magister', 'Kingdom Come: Deliverance Royal Edition', 'Far Cry® New Dawn', 'Far Cry® 4', 'Arma 3 Ultimate Edition', 'Space Engineers', 'Iratus: Lord of the Dead', 'Far Cry Bundle', 'WRC 8 FIA World Rally Championship', 'Pumpkin Jack', 'Far Cry® Primal', 'Euro Truck Simulator 2', 'Killing Floor 2', 'Monster Prom: Franchise Bundle', "Don't Starve", 'Shadow of the Tomb Raider: Definitive Edition', 'Kerbal Space Program', 'Volcanoids', 'Pacific Northwest', 'Hotline Miami 2: Wrong Number', "Don't Starve MEGA PACK 2020", 'Shadow of the Tomb Raider: Definitive Edition', 'Grand Theft Auto V: Premium Online Edition', 'Warhammer: Vermintide 2 - Content Bundle', 'IL-2 Sturmovik: Battle of Stalingrad']
['Oct 23, 2020', 'Nov 10, 2015', '', 'Mar 26, 2018', 'Apr 14, 2020', 'Nov 10, 2015', 'Apr 13, 2015', 'Dec 13, 2018', 'Jun 4, 2020', 'Dec 9, 2019', 'Sep 12, 2013', 'Oct 27, 2020', 'Apr 21, 2016', '', 'Oct 19, 2010', 'Feb 2, 2016', 'Mar 8, 2018', 'Dec 10, 2019', 'Oct 23, 2020', '', 'Aug 28, 2020', 'Jun 11, 2020', 'Jun 7, 2019', 'Aug 27, 2019', 'Feb 13, 2018', 'Oct 20, 2020', 'May 28, 2019', 'Feb 15, 2019', 'Nov 2014', '', 'Feb 28, 2019', 'Apr 23, 2020', '', 'Sep 8, 2020', 'Oct 23, 2020', 'Mar 1, 2016', 'Oct 12, 2012', 'Nov 18, 2016', '', '', 'Sep 14, 2018', 'Apr 27, 2015', 'Jan 29, 2019', '', 'Mar 10, 2015', '', '', '', '', 'Oct 22, 2014']
[46672.22, 46672.22, 73108.66, 46672.22, 31112.22, 23332.22, 23332.22, 35002.22, 31112.22, 27222.22, 23332.22, 23332.22, 11662.22, 45886.44, 7772.22, 15552.22, 23332.22, 38892.22, 9328.22, 54444.44, 46672.22, 23332.22, 46672.22, 31112.22, 23332.22, 27222.22, 31112.22, 31112.22, 23332.22, 109620.2, 15552.22, 23332.22, 89423.32, 31112.22, 23332.22, 23332.22, 15552.22, 23332.22, 23316.66, 7772.22, nan, 31112.22, 15552.22, 48967.32, 11662.22, 38853.32, 85548.88, 31104.44, 64527.32, 38892.22]
[23332.22, 13996.22, 44789.46, 9328.22, 12440.22, 6994.22, 11662.22, 20998.22, 7772.22, 21776.22, 5827.22, 18664.22, 3960.02, 26732.08, 2326.22, 3882.22, 5827.22, 25277.22, 8394.62, 13148.2, 30334.22, 7694.42, 23332.22, 17108.22, 11662.22, 23137.72, 18664.22, 7772.22, 6994.22, 35966.94, 10884.22, 13996.22, 23059.92, 12448.0, 18664.22, 5827.22, 3882.22, 7694.42, 14548.6, 1937.22, nan, 7772.22, 11662.22, 16236.86, 2326.22, 12595.82, 15233.24, 12432.44, 27486.74, 5827.22]
['Very Positive', 'Mostly Positive', 'Very Positive', 'Mostly Positive', 'Mostly Positive', 'Mostly Positive', 'Very Positive', 'Mixed', 'Mostly Positive', 'Very Positive', 'Very Positive', nan, 'Overwhelmingly Positive', 'Mixed', 'Overwhelmingly Positive', 'Overwhelmingly Positive', 'Mostly Positive', 'Mixed', 'Overwhelmingly Positive', 'Mostly Positive', 'Mixed', 'Mostly Positive', 'Very Positive', 'Very Positive', 'Mostly Positive', 'Very Positive', 'Mostly Positive', 'Mostly Positive', 'Very Positive', 'Very Positive', 'Very Positive', 'Very Positive', 'Very Positive', 'Mostly Positive', 'Very Positive', 'Very Positive', 'Overwhelmingly Positive', 'Very Positive', 'Very Positive', 'Overwhelmingly Positive', 'Very Positive', 'Very Positive', 'Very Positive', 'Overwhelmingly Positive', 'Very Positive', 'Overwhelmingly Positive', 'Very Positive', 'Very Positive', 'Mostly Positive', 'Mostly Positive']
['win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win', 'win']
[nan, nan, 'music', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'mac', nan, nan, 'mac', nan, nan, 'mac', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'mac', nan, nan, nan, nan, 'mac', nan, 'mac', 'mac', 'mac', 'mac', 'linux', 'mac', 'mac', 'mac', 'mac', nan, nan, nan]
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'linux', nan, nan, 'linux', nan, nan, 'linux', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'linux', nan, nan, nan, nan, 'linux', nan, 'linux', 'linux', 'linux', 'linux', nan, 'linux', 'linux', 'linux', 'linux', nan, nan, nan]
[4231, 122, 122, 1695, 122, 1695, 1695, 1662, 122, 493, 19, 19, 1662, 19, 1695, 1100687, 1685, 21, 492, 19, 7226, 4747, 122, 3859, 4172, 14153, 122, 1695, 1695, 599, 1755, 122, 1695, 599, 21, 1695, 599, 1659, 492, 1662, 21, 1755, 493, 599, 1756, 21, 21, 19, 4345, 599]

In [ ]:
new_table = pd.DataFrame()
for i in range(len(headers)):
    new_table[headers[i]] = juegos[i]
new_table.head(10)

                                              Nombre  ... Código
0                                   The Outer Worlds  ...   4231
1                Fallout 4: Game of the Year Edition  ...    122
2  The Outer Worlds: Non-Mandatory Corporate-Spon...  ...    122
3                                         Far Cry® 5  ...   1695
4                                         Fallout 76  ...    122
5                                          Fallout 4  ...   1695
6                                 Grand Theft Auto V  ...   1695
7                                               DayZ  ...   1662
8                            Dragon Age™ Inquisition  ...    122
9                                               GTFO  ...    493

[10 rows x 9 columns]

---
## Pregunta 1

Entregue los nombres de los 10 juegos con precio de oferta más baratos

Ejemplo:

| Nombre del juego | Precio en oferta |
|:----------------:|:----------------:|
|  Nombre 1 | \$ |
| ... | ... |
| Nombre 10 | \$\$\$ |

In [ ]:
#Para encontrar los 10 juegos mas baratos basta con ordenar la tabla de acuerdo al precio de oferta, que por defecto se hace de menor a mayor,
#despues se seleccionan solo las columnas que nos interesan.
p1 = new_table.sort_values(by=['Precio_Oferta'])[["Nombre","Precio_Oferta"]]
p1.head(10)

                           Nombre  Precio_Oferta
36                   Don't Starve        1937.22
38  Hotline Miami 2: Wrong Number        2326.22
14             Fallout: New Vegas        2326.22
49                   Monster Prom        2894.16
37         Euro Truck Simulator 2        3882.22
15       American Truck Simulator        3882.22
12          Don't Starve Together        3960.02
40                Far Cry® Primal        5827.22
10                         Arma 3        5827.22
16        Warhammer: Vermintide 2        5827.22

El juego más barato es "Don´t starve together".

---
## Pregunta 2

Entregue los juegos que se puedan jugar en Windows, Linux y Mac

In [ ]:
#Para juegos que esten para las 3 plataformas se tiene que consultar que cumplan que p1 sea windows puesto que siempre estaran en windows, 
#para la segunda plataforma puede que sea linux o mac, por lo que tiene que revisar por cualquiera de los dos, pero para la tercera por orden 
#solo puede ser linux, por tanto solo se consulta por esa opción.
p2 = new_table[(new_table.Plataforma1=="win") & ( (new_table.Plataforma2=="linux")  | (new_table.Plataforma2=="mac")) & (new_table.Plataforma3=="linux")][["Nombre","Plataforma1","Plataforma2","Plataforma3"]]
p2

                                           Nombre  ... Plataforma3
12                          Don't Starve Together  ...       linux
15                       American Truck Simulator  ...       linux
17                   Monster Prom 2: Monster Camp  ...       linux
31                       Iratus: Lord of the Dead  ...       linux
33                 Monster Prom: Franchise Bundle  ...       linux
36                                   Don't Starve  ...       linux
37                         Euro Truck Simulator 2  ...       linux
38                  Hotline Miami 2: Wrong Number  ...       linux
39  Shadow of the Tomb Raider: Definitive Edition  ...       linux
43                           Kerbal Space Program  ...       linux
44                              Pacific Northwest  ...       linux
45                    Don't Starve MEGA PACK 2020  ...       linux
48  Shadow of the Tomb Raider: Definitive Edition  ...       linux
49                                   Monster Prom  ...       linux

[14 rows x 4 columns]

---

## Pregunta 3
 
Entregue dos tablas, una con los juegos con precio de oferta de *\$5.000* o menos y otra con los respectivos juegos con precio original de \$15.000 o menos.

In [ ]:
#primero se hace una consulta sobre los resultados que tengan un precio oferta inferior a 5000 y se muestra
p3_1 =new_table[new_table.Precio_Oferta <= 5000][["Nombre","Precio_Oferta"]]
p3_1

                           Nombre  Precio_Oferta
12          Don't Starve Together        3960.02
14             Fallout: New Vegas        2326.22
15       American Truck Simulator        3882.22
36                   Don't Starve        1937.22
37         Euro Truck Simulator 2        3882.22
38  Hotline Miami 2: Wrong Number        2326.22
49                   Monster Prom        2894.16

In [ ]:
#despues se toma el resultado anterior y se aplica otro filtro sobre los juegos cuyo precio original es 15000 o menos
p3_2 = p3_1[p3_1.Precio_Original <= 15000][["Nombre","Precio_Original"]]
p3_2

AttributeError: ignored

En ambas tablas, por la poca cantidad de muestras (tipos de juegos) escogias (50 muestras), se obtuvieron los mismos resultados en las tablas. Al trabajar con más cantidad de muestras se podrian haber tenido más resultados.

---

## Pregunta 4

Muestre el precio promedio de las ofertas

In [ ]:
#Se hace un promedio para todas las columnas de la tabla y despues se consulta solo la de precio oferta
p4 = new_table.mean()["Precio_Oferta"]
p4

14109.744489795909

En general, el precio medio de los precios ofertas es alto (para un bolsillo universitario).

---

## Pregunta 5

Muestre cuántos juegos disponibles hay por cada conjunto de plataformas.

La tabla se debería ver similar a:

| Plataformas | Juegos |
|:-----------:|:------:|
| Windows | 100
| Windows y Mac | 21 |
| ... | ... |

In [ ]:
#Se realiza una cuenta sobre toda la tabla y despues se procede a mostrar solo las columnas de plataformas, se convierte en dataframe para mantener formato
p5 = new_table.count()[["Plataforma1","Plataforma2","Plataforma3"]]
p5 = p5.to_frame()
p5
#incompleta

              0
Plataforma1  50
Plataforma2  16
Plataforma3  14

---

## Pregunta 6

Mostrar el juego más barato en oferta por cada categoría

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.17.4)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (1.15.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (50.3.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
downloaded = drive.CreateFile({'id':"1Hp3Z0Y9bzd_nK4JpY0e0357GIAxDLrHD"})  
downloaded.GetContentFile('tags.csv')        
#todo el proceso anterior se realiza para acceder al archivo tags.

import pandas as pd
data = pd.read_csv('tags.csv')
p6 = pd.merge(new_table,data,on='Código') #Se unen ambas tablas de acuerdo a la columna 'Etiqueta',se seleccionan solo las columnas de nombre y precio oferta
                                          #la cual permite obtener el menor valor dentro de dicho grupo.
p66=p6.groupby('Etiqueta')[['Nombre','Precio_Oferta']].min()
p66

NameError: ignored